doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../src/styles/style.css")
    body 
        section.main
            div.banner
                img(src="/src/img/anthony-delanoix-QAwciFlS1g4-unsplash.jpg", alt="")
                div.text_on_banner 
                    p.city Париж
                    p.descr 2748 вариантов размещения
            div.bron
                h3 Только что забронировано
                div.places
                    div.block_p
                        img(src="https://c.pxhere.com/photos/86/65/old_farm_house_decay_home_farm_architecture_rural_old_broken-1275484.jpg!d", alt="")
                        div.right
                            p.guest Гость из Франции
                            p.live забронировал проживание в: 
                                a(href="") Hotel Royal Phare
                    div.block_p
                        img(src="https://c.pxhere.com/photos/86/65/old_farm_house_decay_home_farm_architecture_rural_old_broken-1275484.jpg!d", alt="")
                        div.right
                            p.guest Гость из Германии
                            p.live забронировал проживание в: 
                                a(href="") Hotel Royal Phare
                    div.block_p
                        img(src="https://c.pxhere.com/photos/86/65/old_farm_house_decay_home_farm_architecture_rural_old_broken-1275484.jpg!d", alt="")
                        div.right
                            p.guest Гость из Бельгии
                            p.live забронировал проживание в: 
                                a(href="") Hotel Royal Phare
